@use "../../App.scss" as app;
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");


.education {
  font-family: "Oswald", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  color: white;

  @include app.mobile {
    padding: 2.5rem 1rem;
    gap: 2rem;
  }

  .title {
    margin-top: 1.2rem;
    font-size: 3rem;
    text-align: center;
  }

  .education-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;

    @include app.mobile {
      margin-bottom: 1.3rem;
      flex-direction: column;
      padding: 2rem;
    }
    
    .education-card {
      cursor: pointer;
      min-height: 20%;
      min-width: 20%;
      padding: 2rem;
      background-color: darkgrey;
      border-radius: 1rem;

      @include app.mobile {
        
        padding: 0.8rem;
        // height: 20%;
        // // width: 40%;
      }

      h2 {
        font-size: 1.4rem;
        @include app.mobile {
          font-size: 0.9rem;
        }
      }
   }
  }
}

