@use "../../App.scss" as app;
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

.hero {
  font-family: "Oswald", sans-serif;
  min-height: 100vh;
  background: linear-gradient(180deg, #0c0c1d, #111132);
  display: flex;
  align-items: center;
  position: relative;

  @include app.mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .wrapper {
    max-width: 1366px;
    width: 100%;
    padding-left: 2rem;
    @include app.mobile {
      margin-top: 80px;
    }

    .textContainer {
      color: white;
      width: 60%;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .details {
        h1 {
          font-size: clamp(2.2rem, 6vw, 4.3rem);
        }

        h2 {
          font-size: clamp(1.2rem, 3vw, 2rem);
          margin-top: 0.5rem;
          color: rebeccapurple;
          letter-spacing: 6px;
        }
      }

      .detail {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: clamp(1rem, 2.8vw, 1.4rem);
        text-transform: lowercase;
      }
    }
  }

  .imgContainer {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 90%;
    display: flex;
    align-items: flex-end;

    img {
      max-height: 100%;
      width: auto;
      object-fit: contain;
    }
     @include app.mobile {

      height: 40%;
      width:70%;
      top:unset;
      bottom: 0;
      object-fit: contain;
      
    }
  }
}


