@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.container {
  min-height: 100vh;   
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 2rem;

  h1 {
    font-size: 1.8rem;
    text-align: center;
  }

  .social {
    margin-top: 20px;
    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap;            
    justify-content: center;

    .social-link {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-weight: 700;

      span {
        font-size: 0.9rem;
        margin-top: 6px;
        text-transform: lowercase;
      }

      img {
        width: 60px;
        height: 60px;
        transition: transform 0.3s ease, filter 0.3s ease;
      }

      img:hover {
        filter: drop-shadow(1px 1px 15px #e2efde);
      }
    }
  }
}
