* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  background: linear-gradient(180deg, #0c0c1d, #111132);

}
body {
   overflow-x: hidden;
}

section {
  scroll-snap-align: center ;
  min-height: 100vh;
}

// // @mixin mobile {
// //   @media (max-w)
// // }
// @media (max-width: 768px) {

//   section {
//     min-height: auto;
//     padding: 3rem 1.5rem;
//   }

//   #personal-detail {
//     flex-direction: column; 
//     gap: 3rem;
//   }

// }


@mixin mobile {
  @media (max-width : 738px){
    @content;
  }
}



//for tablet


@media (min-width: 769px) and (max-width: 1024px) {

  
  section {
    min-height: auto;
    padding: 4rem 3rem;
  }

  /* PERSONAL DETAIL */
  #personal-detail {
    gap: 3rem;
  }

  .hero {
    .wrapper {
      padding-left: 2rem;

      .textContainer {
        width: 65%;

        .details {
          h1 {
            font-size: 3.2rem;
          }

          h2 {
            font-size: 1.6rem;
            letter-spacing: 6px;
          }
        }

        .detail {
          font-size: 1.4rem;
        }
      }
    }

    .imgContainer {
      height: 80%;

      img {
        max-width: 380px;
      }
    }
  }

  /* PORTFOLIO LINKS  */
  .container {
    h1 {
      font-size: 2.5rem;
    }

    .social {
      gap: 2.5rem;

      .social-link {
        img {
          width: 58px;
          height: 58px;
        }

        span {
          font-size: 1.1rem;
        }
      }
    }
  }

  /*  SKILLS  */
  .skill {
    max-width: 900px;
    gap: 2.5rem;

    .skillContainer {
      padding: 0.8rem 1.4rem;

      span {
        font-size: 2rem;
      }

      img {
        width: 42px;
        height: 42px;
      }
    }
  }

  /* EDUCATION*/
  .education {
    padding: 4rem 2rem;
  }

  .education-grid {
    gap: 2.2rem;
  }

  /* PROJECTS  */
  .portfolio {

    .progress {
      padding-top: 3rem;

      h1 {
        font-size: 2.2rem;
      }
    }

    .container {
      padding: 3rem 2.5rem;

      .wrapper {
        gap: 3rem;

        .imageContainer img {
          max-width: 360px;
        }

        .textContainer {
          h2 {
            font-size: 3rem;
          }

          h3 {
            font-size: 1.3rem;
          }

          p {
            font-size: 1.05rem;
          }

          button {
            width: 170px;
          }
        }
      }
    }
  }
}
